<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Smartlink app</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

</head>

<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-8">
                <h1 class="mt-2">Smartlink app</h1>
                <form action="/process-form" method="post">
                    <% fields.forEach(field=> { %>
                        <div class="row mb-3">
                            <label class="col-sm-2 col-form-label" for="<%= field %>">
                                <%= field %>
                            </label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="<%= field %>" placeholder="<%= field %> " id="<%= field %> " required>
                            </div>
                        </div>
                    <% }); %>
                    <button class="btn btn-primary align-self-center" type="submit">Submit</button>
                </form>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Date</th>
                            <th scope="col">Name</th>
                            <th scope="col">Size</th>
                            <th scope="col">Download Link</th>
                            <!-- Add more columns as needed -->
                        </tr>
                    </thead>
                    <tbody>
                        <% files.forEach(file => { %>
                            <tr>
                                <td><%= file.LastModified %></td>
                                <td><%= file.Key %></td>
                                <td><%= file.size %></td>
                                <td><a href="/download?Key=<%= encodeURIComponent(file.Key) %>">Download</a></td>
                                <!-- Add more cells as needed -->
                            </tr>
                        <% }); %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</body>

</html>